html{
    font-family:  "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#title{
    height: 2em;
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
    margin: 0 0 0.1em 0;
}

#toolbar{
    padding-top: 0.5em;
    display: flex;
    gap: 0.2em;
}

#landing_image{
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

h6{
    color: #333;
    font-size: 10px;
    font-weight: 100;
    padding-top: 0;
    padding-bottom: 1px;
    word-spacing: 1px;
    line-height: 100%;
}

nav{
    height: 1.3em;
    display: flex;
    gap: .7em;
}

.content_replacement{
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    height: 100%;
    justify-self: center;
}

.content_replacement:hover{
    color: #444;
    font-size: 1.1em;
}

.content_replacement:active{
    color: #222;    
}


footer p {
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

footer{
    border-bottom: black solid 1px;
}